/* = = = = = = Fonts = = = = = = */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@font-face {
	font-family: "The Devil Net";
	src: url(/fonts/The\ Devil\ Net.ttf);
}
@font-face {
	font-family: "Berserker";
	src: url(/fonts/Berserker-Regular.ttf);
}
@font-face {
	font-family: "Assassin";
	src: url(/fonts/Assassin$.ttf);
}
/* = = = = = = Base = = = = = = */
* {
	border: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

/* = = = = = = Navbar = = = = = = */
.nav-item a {
	border-radius: 5px;
}

.nav-item a:hover {
	background-color: rgb(98, 120, 124);
}

/* = = = = = = Global Heading Tag 1 = = = = = = */
h1 {
	font-family: "The Devil Net";
	letter-spacing: 0.5rem;
}

/* = = = = = = Welcome Section = = = = = = */
.welcome {
	background-image: url(/img/bg2.jpg);
	background-size: cover;
}

.welcome .back-filter {
	/* backdrop-filter: blur(16px); */
	background-color: rgba(0, 0, 0, 0.8);
}

.welcome p {
	text-align: justify;
}
/* = = = = = = Carausel = = = = = = */
.carausel h5 {
	font-family: "The Devil Net";
	letter-spacing: 0.4rem;
}

/* = = = = = = New Launch Section = = = = = = */
.new-launch p {
	font-size: 0.8rem;
}

.text-about {
	text-align: justify;
}

/* = = = = = = Featured Games Section = = = = = = */
.featured-games .card {
	border: none;
}

.featured-games .card h5 {
	font-family: "The Devil Net";
}

/* = = = = = = Platforms Section = = = = = = */
.platforms img {
	height: 200px;
}

.platforms h5 {
	font-family: "The Devil Net";
}

.platforms .card {
	border: none;
}

/* = = = = = = Footer = = = = = = */
.footer a {
	color: white;
	text-decoration: none;
}

.footer li {
	list-style: none;
	font-size: 0.9rem;
}

.footer a:hover {
	color: #cccccc;
}

.footer input::placeholder {
	color: #cccccc;
}
